@using ExamonimyWeb.Enums;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ExamPaperSingleViewModel
@{
    ViewData["Title"] = "Chi tiết đề thi";
    if (Model.User.Role.Equals("Admin")) Layout = "_AdminLayout";
    else if (Model.User.Role.Equals("Teacher")) Layout = "_TeacherLayout";
    else throw new ArgumentException(null, nameof(Model.User.Role));
    var commentExamPaper = (int)Operation.CommentExamPaper;
    var approveExamPaper = (int)Operation.ApproveExamPaper;
    var rejectExamPaper = (int)Operation.RejectExamPaper;
}
@{
    var editHref = $"/exam-paper/edit/{Model.ExamPaper.Id}";
    var reviewContainerDisplay = Model.IsAuthor || Model.IsReviewer ? "" : "hidden";
    var editButtonDisplay = Model.IsAuthor ? "" : "hidden";
    var approveAndRejectInputDisplay = Model.IsReviewer ? "" : "hidden";
}
<div class="@(Model.User.Role.Equals("Teacher") ? "hidden" : "")">
    @await Html.PartialAsync("_PageHeadingPartial", ViewData["Title"])
</div>
<p class="text-gray-500 text-xs">Mã đề: @Model.ExamPaper.ExamPaperCode - Môn học: @Model.ExamPaper.Course - Tác giả: @Model.ExamPaper.Author</p>
<div id="exam-paper-container" data-exam-paper-id="@Model.ExamPaper.Id" class="flex gap-x-16">

    <div class="basis-1/2 space-y-10">
        <div id="review-container" class="@reviewContainerDisplay">
            <form id="review-form" action="#" class="relative">
                <div class="overflow-hidden rounded-lg bg-white focus-within:ring-0 focus-within:ring-indigo-500">
                    <div class="p-4">
                        <label for="comment-textarea" class="text-sm font-bold text-gray-900">Review đề thi</label>                      
                        <textarea rows="4" name="review" id="comment-textarea" class="block w-full rounded-md mt-4 bg-gray-50 border-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Vui lòng viết ý kiến bình luận của bạn vào đây..."></textarea>
                        <fieldset class="mt-4">
                            <legend class="sr-only">Tùy chọn</legend>
                            <div class="space-y-3">
                                <div class="relative flex items-start">
                                    <div class="flex h-6 items-center">
                                        <input id="comment" name="review" type="radio" value="@commentExamPaper" checked class="h-4 w-4 bg-gray-200 border-none text-violet-600 focus:ring-0 focus:ring-offset-0">
                                    </div>
                                    <div class="ml-3 text-sm leading-6">
                                        <label for="comment" class="font-medium text-gray-700">Bình luận</label>
                                        <p class="text-gray-500">Thảo luận, góp ý, nhận xét về đề thi, yêu cầu chỉnh sửa, thay đổi, v.v.</p>
                                    </div>
                                </div>
                                <div class="relative flex items-start @approveAndRejectInputDisplay">
                                    <div class="flex h-6 items-center">
                                        <input id="approve" name="review" type="radio" value="@approveExamPaper" class="h-4 w-4 bg-gray-200 border-none text-violet-600 focus:ring-0 focus:ring-offset-0">
                                    </div>
                                    <div class="ml-3 text-sm leading-6">
                                        <label for="approve" class="font-medium text-gray-700">Duyệt</label>
                                        <p class="text-gray-500">Đồng ý phê duyệt đề thi này. Đề thi sau khi nhận được sự đồng ý của tất cả kiểm duyệt viên sẽ được tính là duyệt.</p>
                                    </div>
                                </div>
                                <div class="relative flex items-start @approveAndRejectInputDisplay">
                                    <div class="flex h-6 items-center">
                                        <input id="reject" name="review" type="radio" value="@rejectExamPaper" class="h-4 w-4 bg-gray-200 border-none text-violet-600 focus:ring-0 focus:ring-offset-0">
                                    </div>
                                    <div class="ml-3 text-sm leading-6">
                                        <label for="reject" class="font-medium text-gray-700">Từ chối</label>
                                        <p class="text-gray-500">Từ chối đề thi, kèm lý do (nếu có).</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="flex items-center justify-end space-x-3 border-t border-gray-200 px-2 py-2 sm:px-3">
                        <div class="flex-shrink-0">
                            <button type="button" id="submit-review-btn" class="inline-flex w-24 h-10 items-center justify-center rounded-md bg-violet-300 px-3 py-2 text-sm font-semibold text-violet-800 shadow-sm hover:text-violet-900 hover:bg-violet-400">Gửi đi</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="relative @editButtonDisplay">          
            <div class="relative flex justify-center">
                <a href="@editHref" target="_blank" class="inline-flex items-center gap-x-1.5 rounded-lg bg-gray-200 p-3 text-sm font-semibold text-gray-800 hover:bg-gray-300 hover:text-gray-900">                 
                    Chỉnh sửa đề thi
                </a>
            </div>
        </div>
        <div id="question-list-container" class="space-y-10"></div>
    </div>
    <div class="basis-1/3">
        <div class="flow-root">
            <h5 class="text-sm font-bold text-gray-900 mb-6">Dòng thời gian</h5>
            <div id="exam-paper-timeline-container"></div>
        </div>
    </div>   
</div>

<script src="~/js/pages/exam-paper-review.page.js" defer type="module"></script>



