@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chỉnh sửa câu hỏi";
    Layout = "_TeacherLayout";
}
@model EditQuestionViewModel
<div>
    @await Html.PartialAsync("_PageHeadingPartial", ViewData["Title"])  
    <div class="mb-10 flex justify-center">
        <div class="w-1/2">
            <div id="question-detail-section" class="flex items-center gap-x-10 mb-12">
                <div class="basis-72">
                    <label id="question-type-label" class="block text-sm leading-6 text-gray-700 font-medium">Dạng câu hỏi</label>
                    <div class="relative mt-2 dropdown-container">
                        <button type="button" id="question-type-dropdown-btn" class="dropdown-btn pointer-events-none relative w-full cursor-default rounded-md bg-gray-100 py-1.5 pl-3 pr-10 text-left text-gray-400 font-normal border-0 border-[#eee] focus:outline-none focus:ring-0 focus:ring-violet-600 sm:text-sm sm:leading-6">
                            <span class="selected-item block truncate">@Model.Question.QuestionType.Name</span>
                            <span class="absolute inset-y-0 right-0 flex items-center pr-2">
                                <svg class="h-5 w-5 text-gray-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </button>
                        <ul id="question-type-dropdown" class="dropdown cursor-pointer opacity-0 pointer-events-none absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white shadow-md py-1 text-base ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
                            @foreach (var questionType in Model.QuestionTypes)
                            {
                                <li class="dropdown-item text-gray-900 relative select-none py-2 pl-3 pr-9" data-question-type-id="@questionType.Id">
                                    <span class="dropdown-item-name font-normal block truncate">@questionType.Name</span>
                                    <span class="dropdown-item-checkmark text-white absolute inset-y-0 right-0 flex items-center pr-4">
                                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="basis-64">
                    <label id="question-level-label" class="block text-sm leading-6 text-gray-700 font-medium">Mức độ</label>
                    <div class="relative mt-2 dropdown-container">
                        <button type="button" id="question-level-dropdown-btn" class="dropdown-btn cursor-pointer relative w-full cursor-default rounded-md bg-gray-100 py-1.5 pl-3 pr-10 text-left text-gray-800 font-normal border-0 border-[#eee] focus:outline-none focus:ring-0 focus:ring-violet-600 sm:text-sm sm:leading-6">
                            <span class="selected-item block truncate">@Model.Question.QuestionLevel.Name</span>
                            <span class="absolute inset-y-0 right-0 flex items-center pr-2">
                                <svg class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </button>
                        <ul id="question-level-dropdown" class="dropdown cursor-pointer pointer-events-none opacity-0 absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md shadow-md bg-white py-1 text-base ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
                            @foreach (var questionLevel in Model.QuestionLevels)
                            {
                                <li class="dropdown-item text-gray-900 relative select-none py-2 pl-3 pr-9" data-question-level-id="@questionLevel.Id">
                                    <span class="dropdown-item-name font-normal block truncate">@questionLevel.Name</span>
                                    <span class="text-white absolute inset-y-0 right-0 flex items-center pr-4 dropdown-item-checkmark">
                                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div id="question-content-section" class="mb-10">
                <label for="question-content" class="block text-sm leading-6 text-gray-700 font-medium mb-4">Nội dung câu hỏi</label>
                <textarea id="question-content-editor"></textarea>
            </div>
            <div id="question-specific-section"></div>
        </div>      
    </div>
</div>

<script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/js/pages/edit-question.page.js" type="module"></script>

